fieldset {
    background-color: rgb(240,240,240);
    border: 1px solid rgb(155,155,155);
    margin: 1em 0;
}
fieldset legend {
    display: inline;
    border: 0 none;
    width: auto;
}
fieldset label {
    display: block;
    margin: 0 0 0.2em 0;
}

fieldset > div {
    border-bottom: 1px solid #cccccc;
    padding: 5px 5px 3px 5px;
}
fieldset > div:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
fieldset > div:after {
    clear: both;
    float: none;
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
}

select,
input,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
textarea {
    height: 44px;
    font-size: 24px;
    line-height: 44px;
    width: 100%;
    margin: 0 0 5px 0;
}
fieldset button {
    margin: 3px 0;
}
fieldset button + label {
    margin-top: 8px;
}

canvas {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    vertical-align: middle;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
       -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
         -o-transition: border linear 0.2s, box-shadow linear 0.2s;
            transition: border linear 0.2s, box-shadow linear 0.2s;
}
.btn {
    font-size: 11px;
    padding: 2px 8px;
    font-weight: bold;
}

fieldset div > span {
    float: left;
}
span.input {
    width: 82%;
}
span.unit {
    display: none;
    visibility: hidden;
}
span.info {
    display: none;
    visibility: hidden;
}
span.action {
    text-align: right;
    width: 18%;
}

.active {
    background: rgb(227,238,255) !important;
}


/* ==== primary styles =====================================================
    iPhone Landscape
    ========================================================================== */
@media only screen and (min-width: 480px) {
    span.input {
        width: 78%;
    }
    span.unit {
        display: block;
        visibility: visible;
        width: 17%;
        text-align: center;
        margin-top: 2.4em;
    }
    span.action {
        width: 5%;
    }
    span.input + span.action {
        width: 22%;
    }
}

/* ==== primary styles =====================================================
    Android/HD mobile styles
    ========================================================================== */
@media only screen and (min-width: 540px) {
    
}

/* ==== primary styles =====================================================
    iPad Portrait and Android HD landscape
    ========================================================================== */
@media only screen and (min-width: 800px) {
    fieldset pre {
        margin: 0 0 5px 20px;
        width: 90%;
    }
    span.input {
        width: 50%;
    }
    span.unit {
        width: 10%;
    }
    span.info {
        width: 32%;
        display: block;
        visibility: visible;
    }
    span.input + span.info {
        width: 48%;
        padding: 0 1%;
    }
    span.action {
        width: 8%;
    }
    span.input + span.action {
        width: 50%;
    }
    
    select,
    input,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input,
    textarea {
        font-size: 18px;
    }
     
}

/* ==== primary styles =====================================================
    iPad landscape/Average Desktop
    ========================================================================== */
@media only screen and (min-width: 1024px) {
    fieldset {
        margin: 1em 5%;
    }

    select,
    input,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input,
    textarea {
        padding: 0 0.4em;
        font-size: 16px;
        line-height: 20px;
        height: 30px;
    }
    span.unit {
        margin-top: 1.9em;
    }
    td.canvas_input {
        width: 95%;
    }
}

/* ==== primary styles =====================================================
    Wide/HD Desktop Displays
    ========================================================================== */
@media only screen and (min-width: 1280px) {
    fieldset {
        margin: 1em 16%;
    }
}