#header {
    position: absolute; z-index: 2;
    top: 0; left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

#wrapper {
    position: absolute; z-index: 1;
    top: 40px; bottom: 0; left: -9999px;
    width: 100%;
    overflow: auto;
}

#scroller {
    position: absolute; z-index :1;
/*  -webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    padding: 0;
}

#myFrame {
    position: absolute;
    top: 0; left: 0;
}



/**
 *
 * Pull down styles
 *
 */
#pullDown, #pullUp {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
    display: block; float: left;
    width: 40px; height: 40px;
    background: url(pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px; background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;  
}
#pullDown .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
    from { -webkit-transform: rotate(0deg) translateZ(0); }
    to { -webkit-transform: rotate(360deg) translateZ(0); }
}


#vert-cal {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}
.project {
    border: 1px solid #BBB;
    margin: .25em 0;
    padding: .5em 0;
    background-color: rgb(240,240,240);
}
.project:after {
    clear: both;
    float: none;
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
}
.project:hover {
    background-color: rgb(227,238,255);
}

.date-holder {
    width: 4em;
    text-align: center;
    vertical-align: middle;
    float: left;
}
.date-holder .day {
    font-size: 24px;
    line-height: 24px;
}
.date-holder .month {
    font-size: 16px;
    line-height: 16px;
}
.date-holder .time {
    font-size: 12px;
    line-height: 12px;
    color: rgb(56,95,200);
}

.attributes {
    float: left;
    padding-left: 1em;
    font-size: 0.7em;
    line-height: 2.1em;
    border-left: 1px solid #BBB;
}
.attributes div {
    padding-right: 1em;
}
.attributes span {
    font-weight: bold;
}

/* ==== primary styles =====================================================
    iPhone Landscape
    ========================================================================== */
@media only screen and (min-width: 480px) {
    
}

/* ==== primary styles =====================================================
    Android/HD mobile styles
    ========================================================================== */
@media only screen and (min-width: 540px) {
    .attributes {
        width: 80%;
    }
    .attributes div {
        float: left;
        width: 47%;
    }
}

/* ==== primary styles =====================================================
    iPad Portrait and Android HD landscape
    ========================================================================== */
@media only screen and (min-width: 800px) {
    .project {
        margin: .25em 5px;
    }
    .attributes {
        width: 85%;
    }
    .attributes div {
        width: 31%;
    }
}

/* ==== primary styles =====================================================
    iPad landscape/Average Desktop
    ========================================================================== */
@media only screen and (min-width: 1024px) {
    #filters,
    .project {
        margin: .25em 12.5%;
    }
}

/* ==== primary styles =====================================================
    Wide/HD Desktop Displays
    ========================================================================== */
@media only screen and (min-width: 1280px) {
    #filters,
    .project {
        margin: .25em 16%;
    }
    .attributes{
        font-size: 0.8em;
        width: 90%;
        line-height: 1.8em;
    }
}