#filters {
    margin: .25em 5px;
}
.project {
    border: 1px solid #BBB;
    margin: .25em 5px;
    padding: .5em 0;
    background-color: rgb(240,240,240);
}
.project:after {
    clear: both;
    float: none;
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
}
.project:hover {
    background-color: rgb(227,238,255);
}

.date-holder {
    width: 4em;
    text-align: center;
    vertical-align: middle;
    float: left;
}
.date-holder .day {
    font-size: 28px;
    line-height: 28px;
}
.date-holder .month {
    font-size: 16px;
    line-height: 16px;
}
.date-holder .time {
    font-size: 10px;
    line-height: 10px;
}

.attributes {
    float: left;
    padding-left: 1em;
    font-size: 0.7em;
    line-height: 2.1em;
    border-left: 1px solid #BBB;
}
.attributes > div {
    padding-right: 1em;
}
.attributes span {
    font-weight: bold;
}

/* ==== primary styles =====================================================
    iPhone Landscape
    ========================================================================== */
@media only screen and (min-width: 480px) {
    
}

/* ==== primary styles =====================================================
    Android/HD mobile styles
    ========================================================================== */
@media only screen and (min-width: 540px) {
    #filters,
    .project {
        margin: .25em 10%;
    }
    .attributes {
        width: 80%;
    }
    .attributes > div {
        float: left;
        width: 46%;
    }
}

/* ==== primary styles =====================================================
    iPad Portrait and Android HD landscape
    ========================================================================== */
@media only screen and (min-width: 800px) {
    .attributes {
        width: 85%;
    }
    .attributes > div {
        width: 31%;
    }
}

/* ==== primary styles =====================================================
    iPad landscape/Average Desktop
    ========================================================================== */
@media only screen and (min-width: 1024px) {
    #filters,
    .project {
        margin: .25em 12.5%;
    }
}

/* ==== primary styles =====================================================
    Wide/HD Desktop Displays
    ========================================================================== */
@media only screen and (min-width: 1280px) {
    #filters,
    .project {
        margin: .25em 16%;
    }
    .attributes{
        font-size: 0.8em;
        width: 90%;
        line-height: 1.8em;
    }
}