@import	'../loading_box/loading_box.css';

/*
 *  Using a table for layout of the form elements
 */
fieldset > table{
	width: 100%;
}

/*
 *  2nd column is Unit
 */
fieldset > table td:nth-child(2){
	width: 50px; /*acts as a min width, long words will push 1st column*/
	vertical-align: bottom;
	padding-left: .5em;
	padding-bottom: .4%;
}

/*
 *  3rd column is a description area
 */
fieldset > table td:nth-child(3){
	width: 35%;
	vertical-align: bottom;
	padding-left: 10px;
}

/*
 *  Last column is always action button
 *  This can overrides any of the above styles 
 *  regardless if this is actually the 2nd or 3rd column
 */
fieldset > table td:last-child{
	width: 50px;
	padding-top: 25px;  /*label line-height + bottom padding*/
	vertical-align: bottom;
	padding-left: 1em;
	padding-bottom: 0;
}
fieldset > table td:last-child .btn{
	width: 40px;
	height: 100%;
}

fieldset input[type="text"]{
	width: 96%;
	padding: 2%;
	margin: 0;
}



body {
	height: 100%;
	width: 100%;
	position: absolute;
}

section[class*="container"]{
	height: 100%;
	width: 100%;
}
section.action_container{
	display: none;
	background-color: #DDD;
}
div.map{
	height: 100%;
	width: 100%;
}

div.actions{
	width: 100%;
	height: 54px;
	background-color: #111;
	/*position: absolute;
	bottom: 0;*/
	opacity: .81;
}

.actions .btn{
	height: 40px;
	width: 56px;
	padding: 2px 6px;
	margin: 4px;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
}

.map_container .actions .btn:first-child{
	float: right;
}

/* Make the zoom in/out buttons larger */
.esriSimpleSlider div {
	width: 44px;
	height: 44px;
	line-height: 42px;
}

/* Hide "powered by ESRI" logo */
.esriControlsBR{
	display: none;
	visibility: hidden;
}

/* this line hide layers when out of scale for the inline TOC */
 #scaleDiv .agsTOCOutOfScale {
      display: none;
 }

@media only screen and (min-width: 460px) {

}

@media only screen and (min-width: 1024px) {

	section[class*="container"]{
		float: left;
		margin-left: 1%;
	}
	
	div[id*="container"].btn{
		display: none;
	}

	section.map_container{
		width: 64%;
	}

	section.action_container{
		display: block;
		visibility: visible;
		/* margin-left: 0; */
		margin-bottom: 60px;
		width: 34%;
	}

	div.actions{
		width: 100%;
		height: 54px;
		bottom: 0;
		right: inherit;
	}
}